<div class="navbar">
  Great site
  <ul>
    <li class="<% controller_name == 'pages' ? 'active' : '' %>">Home</li>
    <li class="<% controller_name == 'orders' ? 'active' : '' %>">Orders</li>
    <li class="<% controller_name == 'users' ? 'active' : '' %>">Users</li>
  </ul>
  <% if user_logged_in? %>
    <%= link_to 'Log out', logout_path %>
  <% else %>
    <%= link_to 'Log in', login_path %>
  <% end %>
</div>


<div class="data">
  <% myorders = Order.where(:user_id => current_user.id).sort(:amount) %>

  <ul>
    <% myorders.each do |order| %>
      <li>
      <%= order.description %> <%= order.created_at %>
      </li>
    <% end %>
  </ul>
</div>
    
